<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <form action="/form" method="post">

     <input type="text" placeholder="Enter you URl" name="Img">
     <input type="text" placeholder="Enter you name" name="Name">
     <input type="text" placeholder="Enter you price" name="Price">
     <input type="date" placeholder="Enter you date" name="Date">
     <input type="text" placeholder="Enter you author" name="Author">

   <button type="submit">submit</button>


    </form>
    
</body>
</html>